body {
    background-color: beige;
    margin: 0px;
}

* {
    box-sizing: border-box;
}
header {
    background-color: chocolate;
    color: white;
    text-align: center;
    margin: 0px;
    padding: 10px;
}
main {
    padding: 20px;
}
article {
    float: left;
    width: 60%;

}
aside {
    float: right;
    width: 30%;
}
